/* 
Offwhite = #F0F6F7
Greytext = rgb(96,101,106)
font-family = Zen Antique Soft
 */

.App {
  text-align: center;
}

/* hero section styles  */

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../Images/edited-marble.png);
}

.hero_header {
  font-size: 24px;
  font-family: Zen Antique Soft;
  color: rgb(96,101,106);
}

/* project section styles */

.project_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  /* height: 80vh; */
  background: url(../Images/computerbackground.jpeg), radial-gradient(circle, rgba(165,171,177,0.6474964985994398) 100%, rgba(59,54,56,0.4822303921568627) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.project_header{
  font-size: 24px;
  font-family: Zen Antique Soft;
  color: #F0F6F7;
}

.project_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 10px;
  margin: 20px;
  background: rgb(240,246,247);
  background: radial-gradient(circle, rgba(240,246,247,0.5242471988795518) 100%, rgba(59,54,56,0.4822303921568627) 100%);
  border-radius: 8px;
}

@media screen and (max-width:400px) {
  .project_inner{
    flex-direction: column;
  }
  .video_container{
    display: none;
  }
}

 .project_info {
   color: rgb(96,101,106);
   font-family: Zen Antique Soft;
 }

 /* Tech section styles */

 .tech_container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background-size:cover;
  background-attachment: fixed;
  background-image: url(../Images/edited-marble.png);
 }

 .tech_inner{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .tech_item{
   display: flex;
   padding: 30px;
 }

 .tech_logo img {
   height: 100px;
  
 }

 /* about styles */

 .about_container{
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background: url(../Images/adventure-background.jpeg), radial-gradient(circle, rgba(165,171,177,0.6474964985994398) 100%, rgba(59,54,56,0.4822303921568627) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
 }

 .about_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80%;
  padding: 10px;
  margin: 20px;
  background: rgb(240,246,247);
  background: radial-gradient(circle, rgba(240,246,247,0.5242471988795518) 100%, rgba(59,54,56,0.4822303921568627) 100%);
  border-radius: 8px;
 }

 .about_header{
  font-size: 24px;
  font-family: Zen Antique Soft;
  color: rgb(96,101,106);
 }

 .about_body{
  font-family: Zen Antique Soft;
  color: rgb(96,101,106);
 }

/* footer styles */

.footer_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../Images/edited-marble.png);
}

.footer_icon{
  height: 40px;
}